@charset "UTF-8";
a {
	text-decoration: none;
	color: black;
}

a:hover {
    color: black;
}

*{
	margin: 0;
	padding: 0;
}

/* 스크롤바 시작*/
/*webkit 브라우저*/
::-webkit-scrollbar {	/* 스크롤바 배경 */
    width: 10px;  
    background: #c0c0c0; 
}

::-webkit-scrollbar-thumb {	/* 스크롤바 막대 */
	background: #404036; 
    border-radius: 10px;
}
/* 스크롤바 끝*/

input[type = 'date']{
	display: inline-block;
    width: 140px;
}

:root {
  --header-heigth: 70px;
  --footer-heigth: 70px;
  --banner-width: 150px;
  --SideBar-width: 150px;  
  --navMnu-color: rgb(255 210 88);
}

.selectedRow{
	background-color: red;
}

.form-control{
	display: inline-block;
}

.wrap{
	width: 100%;
}

.Header, .content, .Footer{
	width: 100%;
}

.SideBar, .banner{
	height: calc(100vh - var(--footer-heigth) - var(--header-heigth));
}

.Header, .Footer, .SideBar, .banner{
	z-index: 1;
	position: fixed;
}

.SideBar{
	background-color: #EAEAEA;
    left: 0;
    top: var(--header-heigth);
    width: var(--SideBar-width);
}

.banner{
	background-color: cyan;
    right: 0;
    top: var(--header-heigth);	
    width: var(--banner-width);    
}

.page_content{
	float: left;
	margin: calc(var(--header-heigth) + 20px) calc(var(--banner-width) + 20px) calc(var(--footer-heigth) + 20px) calc(var(--SideBar-width) + 20px);
	width: calc(100vw - 40px - var(--banner-width) - var(--SideBar-width));
}

.Header{
	background-color: #ABF200;
}

.Footer{
	background-color: #FF00DD;
	height: var(--footer-heigth);
	bottom: 0;
}

/* 네비게이터 css 시작 */
.logo-font{
	font-family: 나눔손글씨 가람연꽃; 
	font-size: 26px; 
	font-weight: 900;
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;	
    letter-spacing: 4px;
}

.top {
	top: 0;
    position: fixed;
    width: 100%;
    height: var(--header-heigth);
    z-index: 1;
    background-color: #ffffcb;
}

.navMnu{
    padding: 4px 16px;	
}

.navDiv {
    float: right;
    display: inline-grid;
}

.navMnuThDiv{
	font-size: 18px;
    display: block;	
 	margin: 8px 0px;   
  	font-weight: 900;
}

.navMnuTh{
 	text-align: center;	
}

.loginMnuDiv{
	font-size: 13px;
    width: 100%;
    display: inline-block;	
}

.loginMnu{
    padding: 5px 3px 0px 3px;
	float: right;
	cursor: pointer;
	font-weight: bold;
}

.logoDiv{
    margin: 10px;
    display: inline-block;	
}

.dropdownDiv {
    display: none;
    position: relative;
    background-color: #000000cc;
    width: 100%;
    min-height: 100px;
    z-index: 1;
    left: 0;
    top: 0;
    color: var(--navMnu-color);
    font-weight: 900;
    float: right;
}

.dropdownMnu{
	color: var(--navMnu-color);
}

.navMnuDiv{
	display: inline-block;	
}

.navMnuDiv:hover .dropdownDiv{
  	display: inline-block;
}

.navMnuCol{
	width: 160px;
}

.navIcon{
	color: var(--navMnu-color);
}

.loginMnuIcon{
	color: rgb(88 70 19);	
}
/* 네비게이터 css 끝 */

.menuNmDiv{
	font-size: 20px;
    padding: 5px;
    font-weight: 900;	
}

.titleDiv{
	font-size: 16px;
    padding: 5px;
    font-weight: 900;	
}

.menuPathDiv{
    padding: 5px 10px;
    font-size: 11px;
    font-weight: 900;
}

/* 버튼 시작 */
.table_btn_wrapper{
    padding: 0.5em 1em;
    float: right;
}

.modal_btn_wrapper{
	float: right;
}

.right_btn_wrapper{
	float: right;
}

.papang_btn{
    font-weight: bold;
    color: #0c0c0c;
    padding: 0.15rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: 2px solid #0c0c0c00;
    margin: 0 0 0 0.2rem;
}

.papang-create-btn, .papang-search-btn{
    background-color: #ffc107;
} 

.papang-excel-btn{
    background-color: rgb(5 148 77 / 89%);
}   

.papang-save-btn{
	background-color: #0dcaf0;
}

.papang-del-btn{
	background-color: #f83b2f;
}

.papang-close-btn{
	background-color: #8996a1;
}

table.dataTable.no-footer{
	border-top: 1px solid #111;
}
/* 버튼 끝 */

/* 모달 시작 */
.modal {
	max-width: none;
	overflow: visible;
}
/* 모달 끝 */

/* 테이블 시작 */
.papang-table, .papang-search-table, .papang-info-table{
	width: 100%;
}

.papang-table td, .papang-search-table td, .papang-info-table td{
	padding: 2px;
}

.papang-table th{
	text-align: center;
	padding: 2px;
}

.papang-search-table th, .papang-info-table th{
	text-align: right;
	padding: 2px;	
}

.papang-info-table th{
	padding-right: 5px;
}

.papang-search-table input, .papang-info-table input{
	padding-left: 5px;	
}
/* 테이블 끝 */

/* 파일첨부 시작 */
.fileListDiv{
    height: 120px;
    /* border: solid 1px grey; */
}

.fileAttachBtn{
	float: right;
	cursor: pointer;
}

/* .fileAttachBtn :hover{ */
	
/* } */

.attachedFile{
	display: inline-block;
	cursor: pointer;
}
/* 파일첨부 끝 */

/* 로딩바 시작 */
.loadingPanel{
	display: none;
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}

.loadingImg{
	width: 120px;
	height: 120px;
	border: 7px solid rgba(168, 151, 198, 0.2);
	border-top-color: #5894cf;
	border-radius: 50%;
	animation: spinner 800ms infinite linear;
}

.loadingText{
	position: fixed;
	font-weight: bold;
	animation: flicker 1100ms infinite alternate;
}

@keyframes spinner{
	from {transform: rotate(0deg);}
	to   {transform: rotate(359deg);}
}

@keyframes flicker{
	from {opacity: 1;}
	to   {opacity: 0;}
}
/* 로딩바 끝 */

/* 에디터 시작 */
.editor {
	border: 1px solid #ced4da !important;
	height: 500px;
}
/* 에디터 끝 */

/* 전체 공용 시작 */
table.dataTable thead th{
	text-align: center;
}

table.dataTable td{
	overflow: hidden;
	white-space: pre;
}

.dataTables_paginate{
	float: left !important;
}

.align_items_center{
	align-items: center;
}

.text_align_center{
	text-align: center;
}

.text_align_left{
	text-align: left;
}	

.deleteFileBtn {
	color: red;
}

.fileAttachBtn {
	border: 1px solid #0c0c0c66;
    border-radius: 3px;
    background-color: #e9ecef;
    font-weight: bold;
    padding: 3px;
    color: #434343;
    font-size: 13px;
}

.centerTable{
	display: inline-block;
}

.papang_input{
	margin: 5px 0;
}

/* 필수 값에 별표 */
.required{
	color: red;
	font-weight: bold;
}

.papang_disabled {
	cursor: default;
	background-color: #eee;
	opacity: 1;
	pointer-events: none;
}

label{
	cursor: pointer;
}

.sessionTimer {
	padding: 5px 3px 0px 3px;
    float: right;
    font-weight: bold;
}

.overFlowHidden{
	overflow: hidden;
}

.whiteSpacePre{
	white-space: pre;
}

.papang-search-div, .papang-info-div{
	margin: 5px 0px 10px 0px;
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 5px;
}
/* 전체 공용 끝 */
