@charset "UTF-8";
a {
	text-decoration: none;
	color: black;
}

*{
	margin: 0;
	padding: 0;
}

:root {
  --header-heigth: 70px;
}

.wrap{
	width: 100%;
}

.content{
	margin-top: var(--header-heigth);
}

.Header, .content, .Footer{
	width: 100%;
	float: left;
}

.Header, .Footer{
	height: 8em;
}

.SideBar{
	width: 10%;
	height: 600px;
	background-color: #FFBB00;
	float: left;
}

.banner{
	width: 10%;
	height: 600px;
	background-color: cyan;
	float: left;
}

.page_content{
	width: 80%;
	height: 600px;
	background-color: #EAEAEA;
	float: left;
}

.Header{
	background-color: #ABF200;
}

.Footer{
	background-color: #FF00DD;
}

/* 네비게이터 css 시작 */
.logo-font{
	font-family: 나눔손글씨 가람연꽃; 
	font-size: 26px; 
	font-weight: bold;
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;	
    letter-spacing: 4px;
}

.top {
	top: 0;
    position: fixed;
    width: 100%;
    height: var(--header-heigth);
    z-index: 1;
}

.navMnu{
    padding: 4px 16px;	
}

.navDiv {
    float: right;
    display: inline-grid;
}

.navMnuDiv{
	font-size: 18px;
    display: block;
    float: right;	
 	margin: 8px 0px;   
}

.loginMnuDiv{
	font-size: 13px;
    width: 100%;
    display: inline-block;	
}

.loginMnu{
    padding: 5px 3px 0px 3px;
	float: right;
	cursor: pointer;
}

.logoDiv{
    margin: 10px;
    display: inline-block;	
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 0;
  height: 300px;
}

.navMnuDiv:hover ~ .dropdown-content{
  	display: inline-block;
}
/* 네비게이터 css 끝 */