@charset "UTF-8";
a {
	text-decoration: none;
	color: black;
}

*{
	margin: 0;
	padding: 0;
}

:root {
  --header-heigth: 70px;
  --footer-heigth: 70px;
  --banner-width: 70px;
  --SideBar-width: 70px;  
  --navMnu-color: rgb(255 210 88);
}

.wrap{
	width: 100%;
}

.content{
	margin-top: var(--header-heigth);
}

.Header, .content, .Footer{
	width: 100%;
}

.page_content, .SideBar, .banner{
	height: calc(100vh - var(--footer-heigth) - var(--header-heigth));
}

.Header, .Footer, .SideBar, .banner{
	z-index: 1;
	position: fixed;
}

.SideBar{
	background-color: #EAEAEA;
    left: 0;
    top: var(--header-heigth);
    width: var(--SideBar-width);
}

.banner{
	background-color: cyan;
    right: 0;
    top: var(--header-heigth);	
    width: var(--banner-width);    
}

.page_content{
	float: left;
	margin: var(--header-heigth) var(--banner-width) var(--footer-heigth) var(--SideBar-width);
	width: calc(100vw - 40px - var(--banner-width) - var(--SideBar-width));
}

.Header{
	background-color: #ABF200;
}

.Footer{
	background-color: #FF00DD;
	height: var(--footer-heigth);
	bottom: 0;
}

/* 네비게이터 css 시작 */
.logo-font{
	font-family: 나눔손글씨 가람연꽃; 
	font-size: 26px; 
	font-weight: 900;
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;	
    letter-spacing: 4px;
}

.top {
	top: 0;
    position: fixed;
    width: 100%;
    height: var(--header-heigth);
    z-index: 1;
}

.navMnu{
    padding: 4px 16px;	
}

.navDiv {
    float: right;
    display: inline-grid;
}

.navMnuThDiv{
	font-size: 18px;
    display: block;	
 	margin: 8px 0px;   
  	font-weight: 900;
}

.navMnuTh{
 	text-align: center;	
}

.loginMnuDiv{
	font-size: 13px;
    width: 100%;
    display: inline-block;	
}

.loginMnu{
    padding: 5px 3px 0px 3px;
	float: right;
	cursor: pointer;
}

.logoDiv{
    margin: 10px;
    display: inline-block;	
}

.dropdownDiv {
    display: none;
    position: relative;
    background-color: #000000cc;
    width: 100%;
    min-height: 100px;
    z-index: 1;
    left: 0;
    top: 0;
    color: var(--navMnu-color);
    font-weight: 900;
    float: right;
}

.dropdownMnu{
	color: var(--navMnu-color);
}

.navMnuDiv{
	display: inline-block;	
}

.navMnuDiv:hover .dropdownDiv{
  	display: inline-block;
}

.navMnuCol{
	width: 160px;
}

.navIcon{
	color: var(--navMnu-color);
}

.loginMnuIcon{
	color: #6f6f6f;	
}
/* 네비게이터 css 끝 */

.menuNmDiv{
	font-size: 20px;
    padding: 5px;
    font-weight: 900;	
}

.menuPathDiv{
    padding: 5px 10px;
    font-size: 11px;
    font-weight: 900;
}